


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-line{
    width: 100%;
    border: 1px solid rgb(184, 184, 184);
    width: 70%;
    min-width: 380px;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 5rem;
    width: 100%;
    height: 100%;
}

#gul-title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5DC;
    color: #94805A;
    width: 100%;
    max-width: 70%;
    min-width: 380px;
    max-height: 300px;
    padding: 1.5rem;
    font-size: 2.7vw;
}
#gul-title-card h2{
    margin-top: 10px;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 50px;
    max-width: 500px;
    min-width: 380px;
    margin: 5px 0px;
}

#nav a{
    color: rgb(73, 73, 73);
}

.siberian-title{
    margin: 20px 0px;
}

.Siberian-huskey-img{
    max-width: 350px;
}

.Siberian-huskey-img:hover{
    scale: 1.1;
    transition: 0.4s;
}

#text-content{
    text-align: left;
    width: 70%;
    z-index: 10;

}

#text-content h3, p{
    margin-bottom: 24px;
}

footer{
    margin: 20px 0px;
}